.boxContainer {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5vmax;
  justify-content: center;
  min-height: 30vh;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 300px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-family: arial;
}

.model {
  color: grey;
  font-size: 22px;
}

.statusColor1 {
  color: #12b32d;
}

.statusColor2 {
  color: rgb(237, 196, 14);
}

.statusColor3 {
  color: #ed0e0e;
}

.btnStart {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #12b32d;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.btnStart:hover {
  opacity: 0.7;
}

.btnWait {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #999;
  text-align: center;
  cursor: no-drop;
  width: 100%;
  font-size: 18px;
}
