.boxDetails {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.WashingMachineDetails {
  max-width: 60rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}

.imgDetail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgDetail img {
  width: 400px;
}

.grid-item {
  width: 100%;
}

.derailsBlock {
  padding: 20px 0;
  /* background-color: tomato; */
}

.derailsBlock > select {
  border: none;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  background-color: rgb(185, 185, 185);
  font: 500 0.7vmax "Roboto";
  border-radius: 20px;
  padding: 0.5vmax 2vmax;
  outline: none;
  margin-right: 10px;
}

.derailsBlock > button {
  border: none;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  background-color: tomato;
  font: 500 0.7vmax "Roboto";
  border-radius: 20px;
  padding: 0.5vmax 2vmax;
  outline: none;
}

.detailsBlock-3-1 > button:last-child:hover {
  background-color: rgb(214, 84, 61);
}
